/* mixin y variables */
/* fin de mixin y variables */
/*keyframe*/
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.header {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.formatoencabezado {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Press Start 2P", cursive;
  color: #61F6FF;
  font-size: 180%; }

/* INDEX */
.main {
  background-color: #1c0c2c; }

.formatodetexto {
  font-family: "VT323", monospace;
  color: #3710e7;
  font-size: 2em;
  text-decoration: none !important;
  padding-top: 1em;
  padding: 1em 1em 0em 1em;
  line-height: 100%; }

/* footer */
.backfooter {
  background-image: url(../imagenes/fondofooter.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.footerformat {
  font-family: "VT323", monospace;
  color: #2300a1;
  font-size: 150%;
  text-decoration: none !important;
  background-color: #ad1699;
  opacity: 80%;
  border-radius: 10%;
  padding-left: 1em;
  line-height: 1em; }

a {
  font-family: "VT323", monospace;
  color: #FFE99A !important;
  font-size: 100%;
  text-decoration: none !important; }

.imagen {
  width: 10px; }

/*main*/
.colfondo {
  background-image: url(../imagenes/fondodemain.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

.flexboxhijo1 {
  margin: auto; }

.flexboxhijo2 {
  background-color: #5EF2F2;
  border-radius: 1em;
  opacity: 0.6;
  margin-bottom: 4em; }

/*carrousel*/
.carrusel {
  background-color: #1c0c2c;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* VIDEOJUEGOS */
.fondomain {
  background-color: #9733EE; }

.banner {
  width: 100%; }

.titulocard {
  font-family: "VT323", monospace;
  font-size: 150%; }

.container {
  margin: 25px auto; }

.image {
  position: relative;
  overflow: hidden; }
  .image .overlay {
    position: absolute;
    bottom: 0;
    padding-left: 25px;
    padding-top: 15px;
    width: 100%;
    color: #ecc3e0;
    font-size: 20px;
    z-index: 5; }
  .image .overlay::before {
    content: "";
    background: #9ae6e9;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -150px;
    z-index: -2;
    opacity: 0.5;
    transition: all 0.3s ease-out; }
  .image .image:hover .overlay {
    color: #9e0c7e; }

.container .image:hover .overlay .amount,
.container .image:hover .overlay .h4,
.container .image:hover .overlay .textmuted,
.container .image:hover .overlay .fa-star,
.container .image:hover .overlay .fa-star-half-alt,
.container .image:hover .overlay .review {
  color: #9c137a; }

.image:hover .overlay::before {
  bottom: 0px; }

.amount {
  font-size: 19px;
  font-family: "VT323", monospace; }

.textmuted {
  color: #F54FCA;
  font-weight: 800;
  font-size: 17px;
  font-family: "VT323", monospace; }

/*TABLA*/
.fondodetabla {
  background-color: #9733EE; }

.textodetabla {
  color: #FFE99A;
  font-family: "VT323", monospace;
  font-size: 120%;
  text-decoration: none;
  padding-left: 1em; }

/*barra de navegacion*/
.colorbarra {
  font-family: "VT323", monospace;
  color: #FFE99A;
  font-size: 130%;
  text-decoration: none !important;
  background-color: #BD3FBF;
  border: none; }

.logo {
  margin-right: 2em; }

.dropdown-menu {
  background-color: #BD3FBF !important;
  border: none; }

a:hover {
  color: #F54FCA !important;
  text-decoration: none !important; }

.formatomenu {
  font-family: "VT323", monospace;
  color: #FFE99A;
  font-size: 1.5em;
  text-decoration: none !important;
  padding-left: 1em; }

/*contacto*/
.contacto {
  background-color: #BD3FBF; }

.formatodecontacto {
  font-family: "VT323", monospace;
  color: #FFE99A;
  font-size: 150%;
  text-decoration: none !important;
  line-height: 1em; }

/*boton enviar*/
.btn-grad {
  font-family: "VT323", monospace;
  color: #FFE99A;
  font-size: 100%;
  text-decoration: none !important;
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 30%; }
  .btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none; }
