.header {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.formatoencabezado {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: $font-titulo;
    color: $color-titulos;
    font-size: 180%;
}


/* INDEX */

.main {
    background-color: #1c0c2c;

}

.formatodetexto {
    @include formato-texto(rgb(55, 16, 231), 2em);
    padding-top: 1em;
    padding: 1em 1em 0em 1em;
    line-height: 100%;

}