body {
  font-family: 'VT323', monospace;

}

.header {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.formatoencabezado {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Press Start 2P', cursive;
  color: #5EF2F2;
  font-size: 180%;
}


/* INDEX */

.main {
  background-color: #1c0c2c;

}

.formatodetexto {

  font-family: 'VT323', monospace;
  color: black;
  font-size: 2em;
  padding-top: 1em;
  padding: 1em 1em 0em 1em;
  line-height: 100%;

}

.formatodetexto2 {

  font-family: 'VT323', monospace;
  color: black;
  font-size: 2em;
  padding-top: 1em;
  padding: 1em 1em 0em 1em;
  line-height: 100%;
  text-align: center;

}

/*barra de navegacion*/

.colorbarra {
  background-color: #BD3FBF;
  border: none;
  color: #5EF2F2;
  font-family: 'VT323', monospace;
  font-size: 130%;
}

.logo {
  color: #5EF2F2;
  font-family: 'VT323', monospace;
  text-decoration: none;
  font-size: 100%;
  margin-right: 2em;
}

.dropdown-menu {
  background-color: #BD3FBF !important;
  border: none;

}

a:hover {
  color: yellow !important;
  text-decoration: none !important;
}

.formatomenu {
  color: #dae634;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  text-decoration: none;
  padding-left: 1em;
}

/*main*/
.colfondo {
  background-image: url(./imagenes/fondodemain.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.flexboxhijo1 {

  margin: auto;
}

.flexboxhijo2 {
  background-color: #5EF2F2;
  border-radius: 1em;
  opacity: 0.6;
  margin-bottom: 4em;
}

/*carrousel*/

.carrusel {
  background-color: #1c0c2c;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*contacto*/

.contacto {
  background-color: #BD3FBF;
}

.formatodecontacto {
  font-family: 'VT323', monospace;
  font-size: 200%;
  line-height: 1em;
}

/*boton enviar*/


.btn-grad {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%)
}

.btn-grad {
  font-family: 'VT323', monospace;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  width: 30%;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


/* footer */

.backfooter {
  background-image: url(./imagenes/fondofooter.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.footerformat {
  background-color: #ad1699;
  opacity: 80%;
  border-radius: 10%;
  padding-left: 1em;
  font-family: 'VT323', monospace;
  font-size: 150%;
  line-height: 1em;
  color: #19075a;
}

a {
  color: #f5f78c !important;
  text-decoration: none !important;
}

/* VIDEOJUEGOS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.fondomain {
  background-color: #9733EE;

}

img {
  width: 100%;

}

.titulocard {
  font-family: 'VT323', monospace;
  font-size: 150%;
}

.container {
  margin: 25px auto;
}

.image {
  position: relative;

  overflow: hidden;
}

.image .overlay {
  position: absolute;
  bottom: 0;
  padding-left: 25px;
  padding-top: 15px;
  width: 100%;
  color: rgb(236, 195, 224);
  font-size: 20px;
  z-index: 5;

}

.image .overlay::before {
  content: "";
  background: rgb(154, 230, 233);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: -150px;
  z-index: -2;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.image:hover .overlay {
  color: rgb(158, 12, 126);
}

.container .image:hover .overlay .amount,
.container .image:hover .overlay .h4,
.container .image:hover .overlay .textmuted,
.container .image:hover .overlay .fa-star,
.container .image:hover .overlay .fa-star-half-alt,
.container .image:hover .overlay .review {
  color: rgb(156, 19, 122);
}

.image:hover .overlay::before {
  bottom: 0px;
}

.amount {
  font-size: 19px;
  font-family: 'VT323', monospace;

}

.textmuted {
  color: #f58eca;
  font-weight: 800;
  font-size: 17px;
  font-family: 'VT323', monospace;


}

/*TABLA*/

.fondodetabla {
  background-color: #9733EE;
}

.textodetabla {
  color: #f5f111;
  font-family: 'VT323', monospace;
  font-size: 120%;
  text-decoration: none;
  padding-left: 1em;

}

/*keyframe*/

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}